* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  background-color: #ccc;
  border-bottom: 1px solid #444;
  margin: 0 5px;
  text-align: center;
}

nav a {
  width: auto;
  font-size: 2rem;
  padding: 10px 20px;
}

h1 {
  font-size: 32px;
  color: blueviolet;
  padding: 1rem 0.5rem;
}
